!!!
%html
	%head
	
		%title Queens of the Stone Age
		
		%link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
		
		%meta{:name => "viewport", :content => "width=800,user-scalable=no"}
		
		/ Adjust the following meta data which will be passed to Facebook when clicking the Like button
		
		/ Album title
		
		%meta{:property => "og:title", :content => "QOTSA"}
		
		/ Album description
		
		%meta{:property => "og:description", :content => 'QOTSA remastered with b-sides.'}
		
		/ Content type, album should suffice
				
		%meta{:property => "og:type", :content => "album"}
		
		/ Direct link to album cover image
		
		%meta{:property => "og:image", :content => "http://qotsa.heroku.com/images/artwork.jpg"}
		
		/ Link to url where premiere resides (this page)
		
		%meta{:property => "og:url", :content => "http://qotsa.heroku.com"}
		
		/ Name of site or in this case, band
		
		%meta{:property => "og:site_name", :content => "Queens of the Stone Age"}				
		
		/ Edit the url in this property to include a link to your SoundCloud set
		
		%meta{:property => "og:video", :content => "http://player.soundcloud.com/player.swf?url=http://soundcloud.com/dominorecordco/sets/qotsa/&amp;color=000000&amp;auto_play=true&amp;player_type=artwork"}
		
		/ Defaults regarding height, width, and video type
		
		%meta{:property => "og:video:height", :content => "425"}
		%meta{:property => "og:video:width", :content => "425"}
		%meta{:property => "og:video:type", :content => "application/x-shockwave-flash"}
		
		/ Adjust to include your personal or page Facebook ID
		
		%meta{:property => "fb:admins", :content => "23424322"}
	
		/ Include a link to your SoundCloud Set
	
		:javascript
		
			var url = "http://soundcloud.com/dominorecordco/sets/qotsa/";
		
		/ Include all appropriate Javascript

		%script{:type => "text/javascript", :src => "/js/jquery.min.js"}
		%script{:type => "text/javascript", :src => "/js/soundmanager2.js"}
		%script{:type => "text/javascript", :src => "/js/jquery.jscrollpane.min.js"}
		%script{:type => "text/javascript", :src => "/js/jquery.mousewheel.js"}
		%script{:type => "text/javascript", :src => "/js/modernizr.js"}
		%script{:type => "text/javascript", :src => "/js/jquery.color.min.js"}
		%script{:type => "text/javascript", :src => "/js/application.js"}
		
		/ Include both stylesheets
	
		%link{:rel => "stylesheet", :href => "/stylesheets/application.css", :type => 'text/css', :media => "screen"}
		%link{:rel => "stylesheet", :href => "/stylesheets/theme.css", :type => 'text/css', :media => "screen"}
	
	%body
	
		/ Header includes comments, the timespan, and waveform
	
		.header
	
			.time

				.track
	
				.buffer
			
				.played
				
				%canvas#waveform

				.waveform

					%img
					
				.seekhead
				
			.comments			
	
		/ Includes player, both panels (left & right), and tracklist
	
		.player
		
			.panel.right
			
				.avatar
				
					%img
				
				.description
			
				%ol.tracks
			
			.panel.left
			
				.artwork
				
					%img
				
					.button
						
						.play
		
		/ Includes left links, share buttons, and right links
		/ Be sure to edit the tweet & like buttons within
				
		.footer
						
			.share
		
				<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>	
				<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fqotsa.heroku.com&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" class="facebook-like-button" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>
				
			.links
		
				%a{:href => "http://www.dominorecordco.com/uk/albums/11-01-11/queens-of-the-stone-age/", :target => "_blank"} Buy it Now
				%a{:href => "http://www.rekordsrekords.com/news", :target => "_blank"} Enter Site
		
			.logo
				%a{:href => "http://soundcloud.com/qotsa", :target => "_blank"}
					%img{:src => "/images/soundcloud.png", :border => 0}
		
		/ This is used for displaying comments beneath the header 
			
		.message